.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.list-unstyled {
  padding-left: 0;
}

@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}

.main-header {
  background: transparent;
  position: relative;
  display: block;
  width: 100%;
  transition: all 500ms ease;
  z-index: 999;
}

.main-header.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--itzone-secondary);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
  z-index: 999;
}

.main-header.is-sticky .main-menu__top {
  display: none;
}

.main-menu__top {
  position: relative;
  display: block;
}

.main-menu__top-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 55px 5px;
  background-color: var(--itzone-base);
}

.main-menu__contact-list {
  position: relative;
  display: flex;
  align-items: center;
}

.main-menu__contact-list li {
  position: relative;
  display: flex;
  align-items: center;
}

.main-menu__contact-list li+li {
  margin-left: 46px;
}

.main-menu__contact-list li:before {
  content: "";
  position: absolute;
  top: -3px;
  bottom: 2px;
  left: -23px;
  width: 1px;
  background-color: rgba(var(--itzone-white-rgb), .30);
}

.main-menu__contact-list li:first-child:before {
  display: none;
}

.main-menu__contact-list li .icon {
  position: relative;
  display: flex;
  align-items: center;
}

.main-menu__contact-list li .icon i {
  font-size: 18px;
  color: var(--itzone-white);
  position: relative;
  display: inline-block;
}

.main-menu__contact-list li .text {
  margin-left: 10px;
}

.main-menu__contact-list li .text p {
  font-size: 16px;
  font-weight: 500;
  color: var(--itzone-white);
  line-height: 16px;
}

.main-menu__contact-list li .text p a {
  color: var(--itzone-white);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu__contact-list li .text p a:hover {
  color: var(--itzone-black);
}

.main-menu__top-welcome-text {
  font-size: 16px;
  font-weight: 500;
  color: var(--itzone-white);
  text-transform: capitalize;
  font-family: var(--itzone-font-two);
  line-height: 1em;
}

.main-menu__top-right {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-menu__social-title {
  font-size: 16px;
  color: var(--itzone-white);
  font-weight: 500;
}

.main-menu__social {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.main-menu__social a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(var(--itzone-white-rgb), .40);
  border-radius: 50%;
  font-size: 15px;
  color: var(--itzone-white);
  background-color: transparent;
  overflow: hidden;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: 1;
}

.main-menu__social a:hover {
  color: var(--itzone-base);
  border: 1px solid var(--itzone-white);
}

.main-menu__social a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--itzone-white);
  transform: scale(0.5);
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  z-index: -1;
}

.main-menu__social a:hover::before {
  transform: scale(1.0);
  opacity: 1;
}

.main-menu__social a+a {
  margin-left: 5px;
}

.main-menu {
  position: relative;
  display: block;
}

.main-menu__wrapper {
  position: relative;
  display: block;
  background-color: var(--itzone-secondary);
}

.main-menu__wrapper-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 55px;
}

.main-menu__left {
  display: block;
}

.main-menu__logo {
  display: block;
  padding: 25px 0;
}

.main-menu__main-menu-box {
  display: block;
}

.main-menu__right {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px 0;
}

.main-menu__call {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px 0;
}

.main-menu__call-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--itzone-base);
  border-radius: 50%;
  color: var(--itzone-white);
  font-size: 18px;
  top: 3px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu__call-icon:hover {
  background-color: var(--itzone-black);
  color: var(--itzone-white);
}

.main-menu__call-content {
  position: relative;
  display: block;
  top: 3px;
  margin-left: 10px;
}

.main-menu__call-sub-title {
  font-size: 16px;
  font-weight: 500;
  color: var(--itzone-gray);
  line-height: 16px;
  text-transform: capitalize;
}

.main-menu__call-number {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-top: 6px;
}

.main-menu__call-number a {
  color: var(--itzone-black);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu__call-number a:hover {
  color: var(--itzone-base);
}

.main-menu__search-cart-box {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7.5px 0;
}

.main-menu__search-box {
  position: relative;
  display: block;
}

.main-menu__search {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--itzone-black);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu__search:hover {
  color: var(--itzone-base);
}

.main-menu__cart-box {
  position: relative;
  display: block;
  margin-left: 20px;
}

.main-menu__cart {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: var(--itzone-black);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu__cart-count {
  position: absolute;
  top: -15px;
  right: -15px;
  height: 20px;
  width: 20px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 500;
  background-color: var(--itzone-base);
  color: var(--itzone-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu__cart:hover {
  color: var(--itzone-base);
}

.main-menu__nav-sidebar-icon {
  position: relative;
  display: block;
}

.main-menu__nav-sidebar-icon .navSidebar-button {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  padding-right: 11px;
  height: 45px;
  width: 45px;
  background-color: var(--itzone-base);
  border-radius: 50%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.icon-dots-menu-one {
  position: relative;
  display: block;
  width: 15px;
  height: 3px;
  background-color: var(--itzone-white);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu__nav-sidebar-icon .navSidebar-button:hover .icon-dots-menu-one {
  width: 22px;
}

.icon-dots-menu-two {
  position: relative;
  display: block;
  width: 22px;
  height: 3px;
  background-color: var(--itzone-white);
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.icon-dots-menu-three {
  position: relative;
  display: block;
  width: 18px;
  height: 3px;
  background-color: var(--itzone-white);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.main-menu__nav-sidebar-icon .navSidebar-button:hover .icon-dots-menu-three {
  width: 22px;
}

.main-menu__btn-box {
  position: relative;
  display: block;
}





.stricky-header.main-menu {
  background-color: var(--itzone-black);
}

.main-menu .main-menu__list,
.main-menu .main-menu__list>li>ul,
.main-menu .main-menu__list>li>ul>li>ul,
.stricky-header .main-menu__list,
.stricky-header .main-menu__list>li>ul,
.stricky-header .main-menu__list>li>ul>li>ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}



@media (min-width: 1200px) {

  .main-menu .main-menu__list,
  .main-menu .main-menu__list>li>ul,
  .main-menu .main-menu__list>li>ul>li>ul,
  .stricky-header .main-menu__list,
  .stricky-header .main-menu__list>li>ul,
  .stricky-header .main-menu__list>li>ul>li>ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.main-menu .main-menu__list>li,
.stricky-header .main-menu__list>li {
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.main-menu .main-menu__list>li+li,
.stricky-header .main-menu__list>li+li {
  margin-left: 40px;
}

.main-menu .main-menu__list>li>a,
.stricky-header .main-menu__list>li>a {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--itzone-black);
  position: relative;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 20px;
  font-family: var(--itzone-font-two);
}

.main-menu .main-menu__list>li.current>a,
.main-menu .main-menu__list>li:hover>a,
.stricky-header .main-menu__list>li.current>a,
.stricky-header .main-menu__list>li:hover>a {
  color: var(--itzone-base);
}

.main-menu .main-menu__list>li>a::before,
.stricky-header .main-menu__list>li>a::before {
  content: "";
  height: 2px;
  border-radius: 0px;
  background-color: var(--itzone-base);
  position: absolute;
  bottom: -3px;
  left: 0px;
  right: 0px;
  transition: transform 500ms ease;
  transform: scale(0, 1);
  transform-origin: left center;
  z-index: 1;
}

.main-menu .main-menu__list>li.current>a::before,
.main-menu .main-menu__list>li:hover>a::before,
.stricky-header .main-menu__list>li.current>a::before,
.stricky-header .main-menu__list>li:hover>a::before {
  transform: scale(1, 1);
  transform-origin: right center;
}

.main-menu .main-menu__list>li.dropdown>a {
  padding-right: 15px;
}

.main-menu .main-menu__list>li.dropdown>a:after {
  position: absolute;
  top: 60%;
  right: 0;
  font-family: "Font Awesome 5 Pro";
  content: "\f107";
  font-size: 14px;
  color: var(--itzone-black);
  transform: translateY(-50%);
  font-weight: 400;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 1;
}

.main-menu .main-menu__list>li.current>a::after,
.main-menu .main-menu__list>li:hover>a::after,
.stricky-header .main-menu__list>li.current>a::after,
.stricky-header .main-menu__list>li:hover>a::after {
  color: var(--itzone-base);
}

.main-menu .main-menu__list>li>ul,
.main-menu .main-menu__list>li>ul>li>ul,
.stricky-header .main-menu__list>li>ul,
.stricky-header .main-menu__list>li>ul>li>ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--itzone-white);
  min-width: 280px;
  padding: 25px 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  border-bottom-left-radius: var(--itzone-bdr-radius);
  border-bottom-right-radius: var(--itzone-bdr-radius);
  opacity: 0;
  visibility: hidden;
  z-index: 99;
  transform: perspective(500px) rotatex(-20deg);
  transform-origin: 50% 0%;
  -webkit-transition: all 300ms linear 0ms;
  -khtml-transition: all 300ms linear 0ms;
  -moz-transition: all 300ms linear 0ms;
  -ms-transition: all 300ms linear 0ms;
  -o-transition: all 300ms linear 0ms;
  transition: all 300ms linear 0ms;
}

.shadow-box {
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
}

.main-menu .main-menu__list>li>ul>li>ul>li>ul,
.stricky-header .main-menu__list>li>ul>li>ul>li>ul {
  display: none;
}

.main-menu .main-menu__list>li:hover>ul,
.main-menu .main-menu__list>li>ul>li:hover>ul,
.stricky-header .main-menu__list>li:hover>ul,
.stricky-header .main-menu__list>li>ul>li:hover>ul {
  opacity: 1;
  visibility: visible;
  transform: perspective(500px) rotatex(0);
}

.main-menu .main-menu__list>li>ul>li,
.main-menu .main-menu__list>li>ul>li>ul>li,
.stricky-header .main-menu__list>li>ul>li,
.stricky-header .main-menu__list>li>ul>li>ul>li {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  width: 100%;
  position: relative;
}

.main-menu .main-menu__list>li>ul>li+li,
.main-menu .main-menu__list>li>ul>li>ul>li+li,
.stricky-header .main-menu__list>li>ul>li+li,
.stricky-header .main-menu__list>li>ul>li>ul>li+li {
  border-top: 1px solid rgba(var(--itzone-black-rgb), 0.10);
  margin-top: 0px;
}

.main-menu .main-menu__list>li>ul>li>a,
.main-menu .main-menu__list>li>ul>li>ul>li>a,
.stricky-header .main-menu__list>li>ul>li>a,
.stricky-header .main-menu__list>li>ul>li>ul>li>a {
  position: relative;
  display: flex;
  align-items: center;
  color: rgba(var(--itzone-black-rgb), 1);
  font-size: 17px;
  line-height: 17px;
  font-weight: 600;
  font-family: var(--itzone-font-two);
  text-transform: capitalize;
  padding: 16px 0px 16px;
  -webkit-transition: all 200ms linear 0ms;
  -khtml-transition: all 200ms linear 0ms;
  -moz-transition: all 200ms linear 0ms;
  -ms-transition: all 200ms linear 0ms;
  -o-transition: all 200ms linear 0ms;
  transition: all 200ms linear 0ms;
}

.main-menu .main-menu__list>li>ul>li:hover>a,
.main-menu .main-menu__list>li>ul>li>ul>li:hover>a,
.stricky-header .main-menu__list>li>ul>li:hover>a,
.stricky-header .main-menu__list>li>ul>li>ul>li:hover>a {
  color: rgba(var(--itzone-base-rgb), 1.0);
  padding-left: 5px;
}

.main-menu .main-menu__list>li>ul>li>a::before,
.main-menu .main-menu__list>li>ul>li>ul>li>a::before,
.stricky-header .main-menu__list>li>ul>li>a::before,
.stricky-header .main-menu__list>li>ul>li>ul>li>a::before {
  position: absolute;
  top: 50%;
  right: 20px;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  content: "\f105";
  font-size: 14px;
  color: var(--itzone-base);
  transform: translateY(-50%) scale(0);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.main-menu .main-menu__list>li>ul>li:hover>a::before,
.main-menu .main-menu__list>li>ul>li>ul>li:hover>a::before,
.stricky-header .main-menu__list>li>ul>li:hover>a::before,
.stricky-header .main-menu__list>li>ul>li>ul>li:hover>a::before {
  transform: translateY(-50%) scale(1);
}

.main-menu .main-menu__list>li>ul>li>ul,
.stricky-header .main-menu__list>li>ul>li>ul {
  top: 0;
  left: 100%;
}

.main-menu .main-menu__list li ul li>ul.right-align,
.stricky-header .main-menu__list li ul li>ul.right-align {
  top: 0;
  left: auto;
  right: 100%;
}

.main-menu-four__main-menu-box .main-menu__list>.megamenu,
.main-menu-three__main-menu-box .main-menu__list>.megamenu,
.main-menu-two__main-menu-box .main-menu__list>.megamenu,
.main-menu__wrapper .main-menu__list>.megamenu {
  position: static;
}

.main-menu-four__main-menu-box .main-menu__list>.megamenu>ul,
.main-menu-three__main-menu-box .main-menu__list>.megamenu>ul,
.main-menu-two__main-menu-box .main-menu__list>.megamenu>ul,
.main-menu__wrapper .main-menu__list>.megamenu>ul {
  top: 100% !important;
  left: 0 !important;
  right: 0 !important;
  background-color: transparent;
}

.main-menu-three__main-menu-box .main-menu__list>.megamenu>ul>li,
.main-menu-two__main-menu-box .main-menu__list>.megamenu>ul>li,
.main-menu__wrapper .main-menu__list>.megamenu>ul>li {
  padding: 0 !important;
}

.stricky-header {
  position: fixed;
  z-index: 991;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  visibility: hidden;
  -webkit-transform: translateY(-120%);
  transform: translateY(-120%);
  -webkit-transition: visibility 500ms ease, -webkit-transform 500ms ease;
  transition: visibility 500ms ease, -webkit-transform 500ms ease;
  transition: transform 500ms ease, visibility 500ms ease;
  transition: transform 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 1199px) {
  .stricky-header {
    display: none !important;
  }
}

.stricky-header.stricky-fixed {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
}

.stricky-header .main-menu__inner {
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-right: 0;
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}