.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 20000;
  overflow-x: hidden !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader div {
  width: 20px;
  height: 20px;
  margin: 0 10px 0;
  border-radius: 50px;
  transform-origin: 50% 0;
  display: inline-block;
  animation: bouncing 1.4s linear infinite;
}

.loader div:last-child {
  margin: 0;
}

.loader div:nth-child(1) {
  background-color: rgba(var(--itzone-base-rgb), 1.0);
}

.loader div:nth-child(2) {
  background-color: rgba(var(--itzone-base-rgb), 0.70);
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  background-color: rgba(var(--itzone-base-rgb), 0.40);
  animation-delay: 0.4s;
}

@keyframes bouncing {

  0%,
  100% {
    transform: translateY(0) scale(1, 1);
    animation-timing-function: ease-in;
  }

  45% {
    transform: translateY(50px) scale(1, 1);
    animation-timing-function: linear;
  }

  50% {
    transform: translateY(50px) scale(1.5, 0.5);
    animation-timing-function: linear;
  }

  55% {
    transform: translateY(50px) scale(1, 1);
    animation-timing-function: ease-out;
  }
}