:root {
  --itzone-font: "Nunito", sans-serif;
  --itzone-font-two: "Barlow", sans-serif;
  --itzone-gray: #666666;
  --itzone-gray-rgb: 102, 102, 102;
  --itzone-base: #6e54f3;
  --itzone-base-rgb: 110, 84, 243;
  --itzone-black: #070d1a;
  --itzone-black-rgb: 7, 13, 26;
  --itzone-extra: #edf0fa;
  --itzone-extra-rgb: 237, 240, 250;
  --itzone-secondary: #F0F4FF;
  --itzone-secondary-rgb: 240, 244, 255;
  --itzone-white: #ffffff;
  --itzone-white-rgb: 255, 255, 255;
  --itzone-bdr-radius: 5px
}


body {
  font-family: var(--itzone-font);
  color: var(--itzone-gray);
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  overflow-x: hidden;
}

.row {
  --bs-gutter-x: 30px;
}

.gutter-y-30 {
  --bs-gutter-y: 30px;
}

body.locked {
  overflow: hidden;
}

a {
  color: var(--itzone-base);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

a,
a:hover,
a:focus,
a:visited {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--itzone-font-two);
  color: var(--itzone-black);
  margin: 0;
}

p {
  margin: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.list-unstyled {
  padding-left: 0;
}

@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::-ms-input-placeholder {
  color: inherit;
  opacity: 1;
}

::placeholder {
  color: inherit;
  opacity: 1;
}


#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  opacity: 0.2;
  z-index: -1;
}

#particles-js-two {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  opacity: 0.2;
  z-index: -1;
}

